@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Idroid' ;
    src: url(../fontes/idroid.otf) format('Opentype');
}

* {
    margin: 0;
    padding: 0;
}

:root {

    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'bebas neue', cursive;
    --fonte-android: 'idroid'
}
body{
    background-color: #c5ebd6;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 20px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-align: center;
    text-shadow: 5px 1px 7px rgba(0, 0, 0, 0.575);
    font-weight: lighter;
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1,2em;
    text-align: center;
    text-shadow: 5px 1px 7px rgba(0, 0, 0, 0.575);
    padding-top: 20px;
    width: 500px;
    margin: auto;
}

nav {
    background-color: var(--cor5);
    text-align: center;
    padding-bottom: 12px;
    
}

nav > a {
    text-decoration: none;
    margin-right: 50px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    transition-duration: 0.5s;
   


}

a:hover {
    text-decoration:underline;
     background-color: var(--cor4);
    color: var(--cor5);
}

main {
    background-color: white;
    max-width:800px ;
    min-width: 320px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;

}

main h1 {
    font-family: var(--fonte-android);
    font-style: normal;
    color: var(--cor4);
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.397)

}

main h2 {

    font-family: var(--fonte-android);
    font-style: normal;
    color: var(--cor4);
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.384);
    background-image: linear-gradient(to right, var(--cor3), transparent);
    
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.2em;
}

img {
    width: 100%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
}

aside > h3 {
    background-color: var(--cor4);
    margin: -10px -10px 0 -10px;
    padding: 8px;
    text-align: center;
    font-family: var(--fonte-padrao);
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.idroid {
    font-family: 'idroid';
    color: white;
}





